@charset "UTF-8";


body {
    background-color: lightblue;
}
.card {
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #E0E0E0;
}
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color:  #90EE90;
}

.content {
    padding: 20px;
}